on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    start erase_para

on fs
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    write /sys/class/power_supply/usb/otg_switch 1

service erase_para /system/bin/dd if=/dev/zero of=/dev/block/bootdevice/by-name/para
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    oneshot
